ENV=development
APP_VERSION=V1
APP_PORT=3000
APP_HOST=127.0.0.1

# db source config
DB_SOURCE_HOST=localhost
DB_SOURCE_USER=postgres
DB_SOURCE_PASSWORD=guest
DB_SOURCE_DB_NAME=db_source
DB_SOURCE_PORT=5432

# db desti config
DB_DESTINATION_HOST=localhost
DB_DESTINATION_USER=postgres
DB_DESTINATION_PASSWORD=guest
DB_DESTINATION_DB_NAME=db_destination
DB_DESTINATION_PORT=5432

# db seed
DB_SEED=1

# db redis
REDIS_HOST=localhost
REDIS_PASSWORD=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
REDIS_PORT=6379

