ENV=development
APP_VERSION=V1
APP_PORT=3000
APP_HOST=127.0.0.1

# db source config
DB_SOURCE_HOST=
DB_SOURCE_USER=
DB_SOURCE_PASSWORD=
DB_SOURCE_DB_NAME=
DB_SOURCE_PORT=

# db desti config
DB_DESTINATION_HOST=
DB_DESTINATION_USER=
DB_DESTINATION_PASSWORD=
DB_DESTINATION_DB_NAME=
DB_DESTINATION_PORT=

# db seed
DB_SEED=1

# db redis
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=

